/* Admonitions */

/* attention */
div.attention {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 6px 8px #ccc;
    margin-top: 1ex;
    padding:    0.1ex 2ex;
}

div.attention p.admonition-title {
    font-weight: bold;
    color: rgba(0, 0, 0 , 1);
    font-size: 120%;
}


/* note */
div.note {
    background: rgba(255, 223, 0, 0.6);
    box-shadow: 0 6px 8px #ccc;
    margin-top: 1ex;
    padding:    0.1ex 2ex;
}

div.note p.admonition-title {
    font-weight: bold;
    color: rgba(0, 0, 0 , 1);
    font-size: 120%;
}


/* warning */
div.warning {
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 6px 8px #312;
    margin-top: 1ex;
    padding:    0.1ex 2ex;
}

div.warning p {
    color: rgba(255, 255, 255, 1);
}

div.warning p code {
    color: rgba(255, 0, 0, 1);
}


div.warning p.admonition-title {
    font-weight: bold;
    color: rgba(255, 0, 0 , 1);
    font-size: 120%;
}


/* important */
div.important {
    background: rgba(245,245, 245, 1);
    box-shadow: 0 6px 8px #ccc;
    margin-top: 1ex;
    padding:    0.1ex 2ex;
}

div.important p.admonition-title {
    font-weight: bold;
    color: rgba(255, 0, 0 , 1);
    font-size: 120%;
}

